.container_filters {
    display: flex;
    justify-content: center;
}

.filters {
    background-color: var(--blue);
    margin: 1rem;
    border-radius: 10px;
    width: 78%;
    transition: 0.3s;
}

.txt_filters {
    color: var(--white);
    padding: 0.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font: 400 18px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.txt_filters:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    transition: 0.3s;
    border-radius: 10px;
}

#reset_btn {
    color: var(--white);
    background-color: var(--blue);
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 9rem;
    border: none;
    font: 400 18px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#reset_btn:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    border-radius: 10px;
    transition: 0.3s;
}

.filterchoosen {
    background-color: var(--dark-blue);
    border-radius: 10px;
    transition: 0.3s;
}

.all {
    display: flex;
}

.none {
    display: none;
}

#search {
    margin: 0.6rem;
    width: 70%;
    margin-left: 17rem;
    border-radius: 10px;
    padding: 0.2rem;
    font: 400 12px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
}

.card-container {
    display: flex;  
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
}

.card {
    text-align: center;
    width: 285px;
    height: 395px;
    margin: 40px;
    border-radius: 0.5rem;
    background-color: rgb(37, 45, 159);
    transition: 0.3s;
    animation-duration: 2s;
    animation-name: pop-up;
} 


.card:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: 0.3s;
}

.card img {
    width: 265px;
    height: 325px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.card p {
    color: var(--white);
    width: 93%;
    height: 17.5px;
    margin-left: 0.65rem;
    font: 500 15px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
}

.fav {
    background-image: url('../img/icons/fav.png');
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
    float: right;
}

.fav:hover {
    transform: scale(1.);
    transition: 0.3s;
}

.favfull {
    background-image: url(img/full\ fav.png);
    width: 10%;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
}

.favfull:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.favnone {
    display: none;
}

.filternone {
    display: none;
}
