@media screen and (max-width: 800px) {
    
    #body {
        width: 102%;
    }

    .header {
        width: 100%;
        height: 100px;
    }

    #menu {
        margin-right: 1rem;
    }

    .account_container {
        margin-left: 1rem;
        margin-right: 1.5rem;
    }

    #logo {
        margin-right: 2rem;
        width: 150px;
    }

    .search_container {
        margin-right: 3rem;
    }

    .header_account {
        display: none;
    }

    .active {
        height: 85%;
    }

    .inside_tab {
        width: 100%;
    }

    .inside_tab img {
        margin-top: 2rem;
        width: 7rem;
    }

    .inside_tab p {
        font-size: 1.2rem;
    }

    .booster {
        width: 60%;
        margin: 3rem;
    }

    .boostershow {
        margin-top: -35.5rem;
        display: flex;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 25rem;
        margin: 15px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem ;
    }

    .card img {
        height: 80%;
        margin-top: 1rem;
    }

    .container_filters {
        display: block;
    }

    .filters {
        width: 98%;
        height: 3rem;
        margin: 0.2rem;
        margin-top: 1rem;
    }

    .txt_filters {
        margin-left: 0rem;
        font-size: 11px;
        width: 20%;
        text-align: center;
    }

    #search {
        margin-left: 0.2rem;
    }

    #reset_btn {
        margin-right: 0.5rem;
        margin-left: 0;
        margin-top: 0.7rem;
        width: 80%;
        font: 400 12px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    }

    .trade_container {
        width: 100%;
    }

    .trade {
        width: 100%;
    }

    #logo_account {
        margin-left: 13rem;
    }

    #form {
        width: 29rem;
        height: 35rem;
        margin-left: 4rem;
    }

    footer {
        height: 15rem;
    }

    .footer_logo {
        margin-left: 2rem;
        margin-top: 5rem;
        width: 150px;
        height: 70px;
    }

    .footer_end {
        margin-top: 1rem;
    }

    .footer_end ul {
        display: block;
    }

    .footer_text {
        margin-top: 1rem;
        margin-left: 0rem;
        font-size: 14px;
    }
    
}